[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
noise = "*"
flake8 = "*"
pillow = "*"
panda3d = "*"
panda3d-gltf = "*"

[dev-packages]

[requires]
python_version = "3.9"
